```gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pth

# Logs
runs/
wandb/

# Dataset
data/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Outputs
outputs/


# weights (locally created to test for few epoches)
best_model.pth

````